@model SocialMedia.Models.Database.User
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

<body>
    <div class="top">
        <div class="left">
            <img src="@Model.Image" alt="proflie">
            <div>
                <h1>@Model.Name</h1>
                <h2>&commat;@Model.Username</h2>
            </div>
        </div>
        <button onclick="window.location.href='@Url.Action("edit", "Profile")'">edit profile</button>
        <div class="option">
            <a asp-action="Post" asp-controller="Profile">
                Posts
            </a>
            <a asp-action="Joined" asp-controller="Profile" class="select">
                <div class="selectBox">Joined<div class="underline"></div>
                </div>
            </a>
            <a asp-action="Likes" asp-controller="Profile">
                Likes
            </a>
        </div>
    </div>
    <div class="post">

        @foreach (var activity in Model.JoinActivities)
        {

            <div class="containerPost">
                <h1>@activity.Post.Title</h1>
                <div>
                    <div class="info">
                        <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                        <p>@activity.Post.Date.ToString("MMM").ToUpper()<span> @activity.Post.Date.Day</span><span>,
                                @activity.Post.Date.Year</span>
                        </p>
                    </div>
                    <div class="info">
                        <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                        <p>@activity.Post.Time.ToString("HH:mm"), @activity.Post.Location</p>
                    </div>
                    <div class="info">
                        <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                        <p>
                            @activity.Post.JoinActivities.Count
                            <span>/ @activity.Post.MaxPeople</span>
                        </p>
                    </div>
                    <div class="profilePost">
                        <div class="info">
                            <img src="@activity.Post.User.Image" alt="proflie" class="imgProfile">
                            <p>@activity.Post.User.Name</p>
                        </div>
                        <div class="status">
                            @if (@DateTime.Now < @activity.Post.ExpireDate)
                            {
                                <p>Start in <span>@(Convert.ToInt32(activity.Post.ExpireDate.Subtract(DateTime.Now).TotalHours))
                                        Hour...</span></p>
                            }
                            else
                            {
                                <p></p>
                            }
                        </div>
                    </div>
                </div>
            </div>

        }


    </div>
</body>