@model SocialMedia.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

<body>
    <div class="top">
            <div class="left">
                <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                    alt="proflie">
                <div>
                    <h1>ppookkiesbubu</h1>
                    <h2>&commat;monkey_jeik</h2>
                </div>
            </div>
            <button onclick="window.location.href='@Url.Action("edit", "Profile")'">edit profile</button>
        <div class="option">
            <a href="@Url.Action("Post","Profile")">
                Posts
            </a>
            <a href=" @Url.Action("Joined","Profile")">Joined</a>
            <a href="@Url.Action("Likes", "Profile")" class="select">
                <div class="selectBox">Likes<div class="underline"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="post">
        <div class="containerPost">
            <h1>ลิงกินก้วย</h1>
            <div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                    <p>FEB 23, 2024</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                    <p>21:00 - 23:59, KMITL</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                    <p>8/10</p>
                </div>
                <div class="profilePost">
                    <div class="info">
                        <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                            alt="proflie" class="imgProfile">
                        <p>ppookkiesbubu</p>
                    </div>
                    <div class="status">
                        <p>Start in 2 Hours...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerPost">
            <h1>ลิงกินก้วย</h1>
            <div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                    <p>FEB 23, 2024</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                    <p>21:00 - 23:59, KMITL</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                    <p>8/10</p>
                </div>
                <div class="profilePost">
                    <div class="info">
                        <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                            alt="proflie" class="imgProfile">
                        <p>ppookkiesbubu</p>
                    </div>
                    <div class="status">
                        <p>Start in 2 Hours...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerPost">
            <h1>ลิงกินก้วย</h1>
            <div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                    <p>FEB 23, 2024</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                    <p>21:00 - 23:59, KMITL</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                    <p>8/10</p>
                </div>
                <div class="profilePost">
                    <div class="info">
                        <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                            alt="proflie" class="imgProfile">
                        <p>ppookkiesbubu</p>
                    </div>
                    <div class="status">
                        <p>Start in 2 Hours...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerPost">
            <h1>ลิงกินก้วย</h1>
            <div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                    <p>FEB 23, 2024</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                    <p>21:00 - 23:59, KMITL</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                    <p>8/10</p>
                </div>
                <div class="profilePost">
                    <div class="info">
                        <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                            alt="proflie" class="imgProfile">
                        <p>ppookkiesbubu</p>
                    </div>
                    <div class="status">
                        <p>Start in 2 Hours...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerPost">
            <h1>ลิงกินก้วย</h1>
            <div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                    <p>FEB 23, 2024</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                    <p>21:00 - 23:59, KMITL</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                    <p>8/10</p>
                </div>
                <div class="profilePost">
                    <div class="info">
                        <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                            alt="proflie" class="imgProfile">
                        <p>ppookkiesbubu</p>
                    </div>
                    <div class="status">
                        <p>Start in 2 Hours...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerPost">
            <h1>ลิงกินก้วย</h1>
            <div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                    <p>FEB 23, 2024</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                    <p>21:00 - 23:59, KMITL</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                    <p>8/10</p>
                </div>
                <div class="profilePost">
                    <div class="info">
                        <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                            alt="proflie" class="imgProfile">
                        <p>ppookkiesbubu</p>
                    </div>
                    <div class="status">
                        <p>Start in 2 Hours...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerPost">
            <h1>ลิงกินก้วย</h1>
            <div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                    <p>FEB 23, 2024</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                    <p>21:00 - 23:59, KMITL</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                    <p>8/10</p>
                </div>
                <div class="profilePost">
                    <div class="info">
                        <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                            alt="proflie" class="imgProfile">
                        <p>ppookkiesbubu</p>
                    </div>
                    <div class="status">
                        <p>Start in 2 Hours...</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>