@model SocialMedia.Models.Database.User
@{
    ViewData["Title"] = "GruopLike Page";
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
}


<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

<body>
    <div class="top">
        <div class="left">
            <img src="@Model.Image" alt="proflie">
            <div>
                <h1>@Model.Name</h1>
                <h2>&commat;@Model.Username</h2>
            </div>
        </div>
        <button onclick="window.location.href='@Url.Action("edit", "Profile")'">edit profile</button>
        <div class="option">
            <a asp-action="Post" asp-controller="Profile">
                Posts
            </a>
            <a asp-action="Joined" asp-controller="Profile">Joined</a>
            <a asp-action="Likes" asp-controller="Profile" class="select">
                <div class="selectBox">Likes<div class="underline"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="post">
        @if (Model.PostLikes != null)
        {
            @foreach (var post in Model.PostLikes)
            {

                <div class="containerPost">
                    <h1>@post.Post.Title</h1>
                    <div>
                        <div class="info">
                            <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                            <p>@post.Post.Date.ToString("MMM").ToUpper()<span> @post.Post.Date.Day</span><span>,
                                    @post.Post.Date.Year</span>
                            </p>
                        </div>
                        <div class="info">
                            <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                            <p>@post.Post.Time.ToString("HH:mm"), @post.Post.Location</p>
                        </div>
                        <div class="info">
                            <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                            <p>
                                @if (@post.Post.JoinActivities != null)
                                {

                                    @post.Post.JoinActivities.Count
                                }
                                else
                                {
                                    <span>0</span>
                                }
                                <span>/ @post.Post.MaxPeople</span>
                            </p>
                        </div>
                        <div class="profilePost">
                            <div class="info">
                                <img src="@post.Post.User.Image"
                                    alt="proflie" class="imgProfile">
                                <p>@post.Post.User.Username</p>
                            </div>
                            <div class="status">
                                @if (@DateTime.Now < @post.Post.ExpireDate)
                                {
                                    <p>Start in<span>@(post.Post.ExpireDate.Subtract(DateTime.Now).Hours) Hour...</span></p>
                                }
                                else
                                {
                                    <p></p>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        }


    </div>
</body>