@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
}

@model SocialMedia.Models.Database.User
@* @model IEnumerable<SocialMedia.Models.Database.User> *@

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

<body>
    <div class="top">
        <div class="left">
            <img src="@Model.Image" alt="proflie">
            <div>
                <h1>@Model.Name</h1>
                <h2>&commat;@Model.Username</h2>
            </div>
        </div>
        <button onclick="window.location.href='@Url.Action("edit", "Profile")'">edit profile</button>
        <div class="option">
            <a asp-action="Post" asp-controller="Profile" class="select">
                <div class="selectBox">Posts
                    <div class="underline"></div>
                </div>
            </a>
            <a asp-action="Joined" asp-controller="Profile">Joined</a>
            <a asp-action="Likes" asp-controller="Profile">Likes</a>
        </div>
    </div>
    <div class="post">
        <div class="addPostIcon">
            <a asp-action="Create" asp-controller="Post"><img src=" @Url.Content("~/src/images/AddPostIcon.svg")"></a>
        </div>

        @foreach (var post in Model.Posts)
        {

            <div class="containerPost">
                <h1>@post.Title</h1>
                <div>
                    <div class="info">
                        <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                        <p>@post.Date.ToString("MMM").ToUpper()<span> @post.Date.Day</span><span>, @post.Date.Year</span>
                        </p>
                    </div>
                    <div class="info">
                        <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                        <p>@post.Time.ToString("HH:mm"), @post.Location</p>
                    </div>
                    <div class="info">
                        <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                        <p>
                            @if (@post.JoinActivities != null)
                            {

                                @post.JoinActivities.Count
                            }
                            else
                            {
                                <span>0</span>
                            }
                            <span>/ @post.MaxPeople</span>
                        </p>
                    </div>
                    <div class="profilePost">
                        <div class="info">
                            <img src="@post.User.Image" alt="proflie" class="imgProfile">
                            <p>@post.User.Name</p>
                        </div>
                        <div class="status">
                            <p>Status:
                                @post.PostStatus
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        }






    </div>
</body>