@model SocialMedia.ViewModels.GroupViewModel
@section css {
    <link rel="stylesheet" href="~/css/group.css">
}

@{
    ViewData["Title"] = "Group Page";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
}
<div>
    <a href="@Url.Action("index", "Group")">
        <img src="@Url.Content("~/src/images/Backicon.svg")" class="back">
    </a>
    <div class="box">
        <div class="title">
            <img src=" https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                class="profile">
            <input ="Title" asp-for="title" placeholder="Group Name" class="name">
        </div>
        <textarea ="Content" asp-for="Content" placeholder="description..."></textarea>

        <div class="boxinput"><img src="@Url.Content("~/src/images/Imgicon.svg")">
            <input ="Image" asp-for = "Image" placeholder="Add some photos" class="input">
        </div>
        <div class="btn">
            <button>create group</button>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function() {
            $(".btn button").click(function(event) {
                event.preventDefault(); // Prevent the default form submission

                var formData = {
                    Groupname: $('input[name="Title"]').val(),
                    Content: $('textarea[name="Content"]').val(),  
                };

                // Basic validation example
                if (!formData.Groupname || !formData.Content) {
                    alert("Groupname and Content are required.");
                    return; // Exit the function to prevent sending the request
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateGroup", "Post")', // Modify with your correct URL
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    success: function(response) {
                        if(response.success) {
                            alert("Post created successfully.");
                            // Optionally, redirect or clear form here
                            window.location.href = '@Url.Action("Index", "Group")'; // Adjust controller and action names as necessary
                        } else {
                            alert("Failed to create post: " + response.message);
                        }
                    },
                    error: function(error) {
                        console.log(error);
                        alert("There was an error processing your request.");
                    }
                });
            });
        });
    </script>
}
