@{
    ViewData["Title"] = "Group Page";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
    @using System.Security.Claims
    var filteredGroups = Model.Groups.Where(group =>
    group.Members.All(l => l.UserId != (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int userId) ?
    userId : 0))
    ).Take(3);
}
@model SocialMedia.ViewModels.GroupBlogModel

<head>
    <link rel="stylesheet" href="~/css/group.css" asp-append-version="true">
</head>
<a asp-action="create" asp-controller="group">
    <img src="~/src/images/Creategoupicon.svg" class="create-post-button">
</a>
<div class="popup-backdrop"></div>
<div class="group-element">
    <div class="header">
        <div class="search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search" class="input">
            </div>
            <div class="filter-bar">
                <i class="fa-solid fa-angle-down"></i>
                <input type="text" placeholder="Filter" class="input">
            </div>
        </div>
    </div>

    @foreach (var group in Model.Groups)
    {

        @if (group.Members.All(l => l.UserId != (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int
       userId) ? userId : 0)))
        {
            var firstThreeGroups = Model;
        }
    }
    <div class="Recomended-Group">
        <h2>Recomended Groups</h2>
        <div class="Recomended-Group-post">
            @foreach (var group in filteredGroups)
            {
                <a asp-action="Details" asp-controller="Group" asp-route-id="@group.GroupId"
                    style="text-decoration: none; color:black">
                    <div class="card-Recomended-Group">
                        <img src="@group.Image" alt="Recomended-Group-Image" id="card-Recomended-Group-img" >
                        <div class="contents">
                            <div class="contents-header">
                                <h3>@group.Name</h3>
                                <div onclick="openmembers()" class="amountofmembers">
                                    <img src="~/src/images/People_in_postcardIcon.svg" alt="" class="icon">
                                    <span>@group.Members.Count</span>
                                </div>
                            </div>
                            <div class="Recomended-Group-poster">
                                <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg"
                                    alt="" id="group-poster-img">
                                <span>@group.User.Name</span>
                            </div>
                        </div>
                        <div class="Recomended-Group-poster">
                            <img src="@group.User.Image" alt="" id="group-poster-img">
                            <span>@group.User.Name</span>
                        </div>
                    </div>
                </a>
                <div class="pop-up">
                    <div class="header-popup">
                        <h2>Members</h2>
                        <img src="~/src/images/Cancleicon.svg" alt="canclelogo" id="cancle" onclick="openmembers()">
                    </div>
                    <div class="group-members">
                    @foreach (var members in group.Members)
                    {
                        <div class="members">
                            <img src="@members.User.Image" alt="imagemembers" id="group-poster-img">
                            <span>@members.User.Name</span>
                        </div>
                    }
                    </div>
                </div>

            }
            <a href="/Group/Recommend">see all</a>
        </div>
    </div>
    <div class="container-group">
        @foreach (var group in Model.Groups)
        {
            @if (group.Members.Any(l => l.UserId == (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int
           userId) ? userId : 0)))
            {
                @* <a asp-action="Details" asp-controller="Group" asp-route-id="@group.GroupId" style="color: black;text-decoration: none;"> *@
                <a asp-controller="Group" asp-action="Details" asp-route-id="@group.GroupId" style="color: black;text-decoration:none;">
                    <div class="group">
                        <div class="card-group">
                            <h1 id="section">@group.Name</h1>
                            <p id="section-content">@group.Description</p>
                            <div class="activity-image">
                                <img src="@group.Image" alt="activity" id="activity1">
                            </div>
                            <div class="test2">
                                <div class="group-poster">
                                    <img src="@group.User.Image" alt="" id="group-poster-img">
                                    <span>@group.User.Name</span>
                                </div>

                                <div class="group-of-button">
                                    <img src="~/src/images/People_in_postcardIcon.svg">
                                    <span>@group.Members.Count</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            

            }

        }


    </div>
</div>

@section scripts {
    <script>
        var elements = document.getElementsByClassName("amountofmembers");

        // Iterate over each element and add an event listener
        for (var i = 0; i < elements.length; i++) {
            elements[i].addEventListener('click', function (event) {
                event.preventDefault();
            })
        };
    </script>

    <script src="~/lib/testfile.js"></script>

    <script src="~/lib/logout.js" asp-append-version="true"></script>
}
