@{
    ViewData["Title"] = "Group Page";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
    @using System.Security.Claims
    var filteredGroups = Model.Where(group =>
    group.Members.All(l => l.UserId != (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int userId) ?
    userId : 0))
    ).Take(3);
}
@model List<SocialMedia.Models.Database.Group>

<head>
    <link rel="stylesheet" href="~/css/group.css" asp-append-version="true">
</head>
<a asp-action="create" asp-controller="group">
    <img src="~/src/images/Creategoupicon.svg" class="create-post-button">
</a>
<div class="pop-up">
    <div class="header-popup">
        <h2>Members</h2>
        <img src="~/src/images/Cancleicon.svg" alt="canclelogo" id="cancle" onclick="openmembers()">
    </div>
    <div class="group-members">
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOak_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOak_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOak_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>
        <div class="members">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                alt="imagemembers" id="group-poster-img">
            <span>OakOakkkkkk_</span>
        </div>

    </div>
</div>
<div class="popup-backdrop"></div>
<div class="group-element">
    <div class="header">
        <div class="search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search" class="input">
            </div>
            <div class="filter-bar">
                <i class="fa-solid fa-angle-down"></i>
                <input type="text" placeholder="Filter" class="input">
            </div>
        </div>
    </div>

    @foreach (var group in Model)
    {
    
        @if (group.Members.All(l => l.UserId != (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int
       userId) ? userId : 0)))
        {
            var firstThreeGroups = Model;
        }
    }
    <div class="Recomended-Group">
        <h2>Recomended Groups</h2>

        <div class="Recomended-Group-post">
            @foreach (var group in filteredGroups)
            {
                <div class="card-Recomended-Group">
                    <img src="@group.Image" alt="Recomended-Group-Image">
                    <div class="contents">
                        <div class="contents-header">
                            <h3>@group.Name</h3>
                            <div onclick="openmembers()" id="amountofmembers">
                                <i class="fa-regular fa-user"></i>
                                <span>@group.Members.Count</span>
                            </div>
                        </div>
                        <div class="Recomended-Group-poster">
                            <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg"
                                alt="" id="group-poster-img">
                            <span>@group.User.Name</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-Recomended-Group">
                <img src="https://s.isanook.com/he/0/ud/1/7657/korean-grilled-pork-thai-styl.jpg?ip/crop/w670h402/q80/jpg"
                    alt="">
                <div class="contents">
                    <div class="contents-header">
                        <h3>หมากะทุหมูกระทะ</h3>
                        <div>
                            <i class="fa-regular fa-user"></i>
                            <span>20</span>
                        </div>
                    </div>
                    <div class="Recomended-Group-poster">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                            alt="" id="group-poster-img">
                        <span>OakOak_</span>
                    </div>
                </div>
            </div>
            <div class="card-Recomended-Group">
                <img src="https://www.brandbuffet.in.th/wp-content/uploads/2021/08/Penguin-Eat-Shabu-6.jpg" alt="">
                <div class="contents">
                    <div class="contents-header">
                        <h3>Shabu Shabu</h3>
                        <div onclick="openmembers()" id="amountofmembers">
                            <i class="fa-regular fa-user"></i>
                            <span>18</span>
                        </div>
                    </div>
                    <div class="Recomended-Group-poster">
                        <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg"
                            alt="" id="group-poster-img">
                        <span>Chommsrya_</span>
                    </div>
                </div>
            </div>
            <div class="card-Recomended-Group">
                <img src="https://s.isanook.com/he/0/ud/1/7657/korean-grilled-pork-thai-styl.jpg?ip/crop/w670h402/q80/jpg"
                    alt="">
                <div class="contents">
                    <div class="contents-header">
                        <h3>หมากะทุหมูกระทะ</h3>
                        <div>
                            <i class="fa-regular fa-user"></i>
                            <span>20</span>
                        </div>
                    </div>
                    <div class="Recomended-Group-poster">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg"
                            alt="" id="group-poster-img">
                        <span>OakOak_</span>
                    </div>
                </div>
            </div>
            
            }
            <a asp-action="Recommend" asp-controller="Group">see all</a>
        </div>
    </div>
    <div class="container-group">
        @foreach (var group in Model)
        {
            @if (group.Members.Any(l => l.UserId == (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int
           userId) ? userId : 0)))
            {
                <div class="group">
                    <div class="card-group">
                        <h1 id="section">@group.Name</h1>
                        <p id="section-content">@group.Description</p>
                        <div class="activity-image">
                            <img src="@group.Image" alt="activity" id="activity1">
                        </div>
                        <div class="test2">
                            <div class="group-poster">
                                <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg"
                                    alt="" id="group-poster-img">
                                <span>@group.User.Name</span>
                            </div>

                            <div class="group-of-button">
                                <i class="fa-regular fa-user"></i>
                                <span>@group.Members.Count</span>
                                <a asp-action="Details" asp-controller="Group"><button class="group-button">view group</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }


    </div>
</div>



<script src="~/lib/testfile.js"></script>
