@{
    ViewData["Title"] = "Group Page";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
}

@model SocialMedia.ViewModels.GroupBlogModel

<head>
    <link rel="stylesheet" href="~/css/group.css" asp-append-version="true">
</head>
<a asp-action="create" asp-controller="Group">
    <img src="~/src/images/Creategoupicon.svg" class="create-post-button">
</a>
<div class="pop-up">
    <div class="header-popup">
        <h2>Members</h2>
        <img src="~/src/images/Cancleicon.svg" alt="canclelogo" id="cancle" onclick="openmembers()">
    </div>
    @foreach (var group in Model.Groups)
    {
        if (group.Members.Any(m => m.GroupId == group.GroupId))
        {
            <div class="group-members">
                <div class="members">
                    <img src="@group.User.Image" alt="imagemembers" id="group-poster-img">
                    <span>@group.User.Name</span>
                </div>
            </div>
        }
    }
</div>


<div class="group-element">
    <div class="header">
        <div class="search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search" id="search-input">
            </div>
            <div class="filter-bar">
                <i class="fa-solid fa-angle-down"></i>
                <input type="text" placeholder="Filter" id="filter-input">
            </div>
        </div>
    </div>

    <div class="Recomended-Group-header">
        <a asp-action="index" asp-controller="Group">
            <img src="~/src/images/Backicon.svg" class="back-recommend">
        </a>
        <h1>Recomended Groups</h1>

    </div>
    <div class="container-rec">
        @foreach (var group in Model.Groups)
        {
        @using System.Security.Claims
            @if (group.Members.All(l => l.UserId != (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int
           userId) ? userId : 0)))
            {
                <div class="post-rec">
                    <div class="card-post-rec">
                        <h1 id="section">@group.Name</h1>
                        <p id="section-content">@group.Description</p>
                        <div class="activity-image">
                            <img src="@group.Image" alt="activity" id="activity1">
                        </div>
                        <div class="test2">
                            <div class="group-poster">
                                <img src="@group.User.Image" alt="" id="group-poster-img">
                                <span>@group.User.Name</span>
                            </div>

                            <div class="group-of-button">
                                <img src="~/src/images/People_in_postcardIcon.svg" class="member-icon"/>
                                <span>@group.Members.Count</span>
                                <button class="group-rec-button" GroupId="@group.GroupId" onclick="">join group</button>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }

    </div>
</div>
@section scripts {
    <script>
        function viewgrouponclick(groupId) {
            window.location.href = '@Url.Action("Details", "Group")' + '/' + groupId;
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("button.group-rec-button").forEach(function (button) {
                button.addEventListener("click", function (event) {
                    event.preventDefault();
                    var groupId = button.getAttribute("GroupId");

                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", '/Group/JoinGroup/' + groupId, true);

                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    
                    xhr.onload = function () {
                        if (xhr.status >= 200 && xhr.status < 300) {
                            var data = JSON.parse(xhr.responseText);
                            if (data.success) {
                                button.classList.add("group-button");
                                button.classList.remove("group-rec-button");
                                button.innerHTML = "View Group";
                                button.addEventListener('click',
                                viewgrouponclick(groupId);
                                });
                            } else {
                                alert("Failed to Join Group: " + data.message);
                            }
                        } 
                    };

                    xhr.onerror = function () {
                        alert("An error occurred while joining the group. Please try again later.");
                    };

                    xhr.send();
                });
            });
        });
    </script>


    <script src="~/lib/testfile.js"></script>

}
