@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>


<div class="Container">
    <div class="back">
        <a href="@Url.Action("login", "User")"">
            <img src=" @Url.Content("~/src/images/Backicon.svg")"></a>
        <p>back to log in</p>
    </div>
    <h1 class="Header forgotHeader ">Find your account</h1>
    <form method="post" action="@Url.Action("Login", "User")" class="Form forgotForm">
        <img src="@Url.Content("~/star.png")" alt="Star Icon" class="star2">

        <div class="form-group">
            <label>email</label>
            <input type="text" />
        </div>

        <div class="submit">
            <button type="submit" onclick="window.location.href='@Url.Action("SentEmail", "User")'">Next</button>
        </div>
    </form>


</div>
