@model SocialMedia.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<div class="Container">
    <img src="@Url.Content("~/src/images/RegisterIcon.svg")" class="img1">
    <div class="back">
        <a href="@Url.Action("login", "User")"">
            <img src="@Url.Content("~/src/images/Backicon.svg")"></a>
        <p>back to Login</p>
    </div>
    <h1 class="Header">Create your account</h1>

    <form asp-action="Register" asp-controller="User" method="post" class="Form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>full name</label>
            <input required type="text" asp-for='Name' />
            <span asp-validation-for='Name' class='invalid'></span>
        </div>


        <div class="form-group">
            <label>username</label>
            <input required type="text" asp-for='Username' />
            <span asp-validation-for='Username' class='invalid'></span>
        </div>


        <div class="form-group">
            <label>email</label>
            <input required type="email" asp-for='Email' />
            <span asp-validation-for='Email' class='invalid'></span>
        </div>


        <div class="form-group">
            <label>password (8+)</label>
            <input required type="password" asp-for='Password' />
            <span asp-validation-for='Password' class='invalid'></span>
        </div>

        <div class="form-group">
            <label>confirm password</label>
            <input required type="password" asp-for='ConfirmPassword' />
            <span asp-validation-for='ConfirmPassword' class='invalid'></span>
        </div>
        <div class="submit">
            <button type="submit" onclick="window.location.href='@Url.Action("login", "User")'">sign up</button>
        </div>
    </form>
</div>
