@model SocialMedia.Models.Database.Post
@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
</head>

<body>
    <div class="main">
        <div class="header">
            <div class="search">
                <div class="search-bar">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search" id="search-input">
                </div>
                <div class="filter-bar">
                    <i class="fa-solid fa-angle-down"></i>
                    <input type="text" placeholder="Filter" id="filter-input">
                </div>
            </div>
        </div>
        <a asp-action="Index" asp-controller="Home">
            <img src="~/src/images/Backicon.svg" class="backIcon">
        </a>
        <div class="container-post" style="margin-top:-1rem;">
        
            <div class="explain-post">
                <div class="threedots">
                    <button onclick="dropdown()" class="dropdownBtn"></button>
                    <div class="dropdown-content">
                        <a href="">
                            <img src="~/src/images/EditIcon.svg">
                            <p>edit</p>
                        </a>
                        <a class="applications-closed">
                            <img src="~/src/images/applicationClosed.svg">
                            <p>application closed</p>
                        </a>
                        <a class="delete-post">
                            <img src="~/src/images/binIcon.svg">
                            <p>delete post</p>
                        </a>
                    </div>
                </div>
<<<<<<< HEAD
            </div>
            <div class="post-detail">
                <div class="post-header" style="margin-left:0rem;width:60rem;">
                    <div class="date">
                        <h3 class="month">@Model.Date.ToString("MMM").ToUpper()</h3>
                        <h3 class="day">@Model.Date.Day</h3>
                        <h3 class="year">@Model.Date.Year</h3>
                    </div>
                    <div class="topic">
                        <h1>@Model.Title</h1>
                        <p>@Model.Time.ToString("HH:mm"), @Model.Location</p>
                    </div>
                    <div class="status-categories">
                        <div class="status-activity">
                            <p>Status :</p>
                            <p class="state"> Open</p>
                        </div>
                        <p style="position:absolute;right:0;top:1rem;">Categories : @Model.Category</p>
                    </div>
                </div>
                <p>@Model.Content</p>
                <img class="img-activity" src="@Model.Image"> 
                <div class="post-bottom">
                    <div class="owner" style="margin:0;">
                        <img src="@Model.User.Image"
                            alt="" class="owner-img">
                        <div class="name" style="font-size:20px;align-item:center;">
                            <span>@Model.User.Name</span>
                            <div class="time">
                                <img src="~/src/images/globe.svg">
                                <span style="padding-top:0.1rem">15 minutes ago</span>
                            </div>
                        </div>
                    </div>
                    <div class="action-ep">
                       <div class="likes">
                            <button data-postid="@Model.PostId" class="like-button">
                            @if (Model.PostLikes.Any(l => l.UserId == (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int userId) ? userId : 0)))
                            {
                                        <img src="~/src/images/LikedIcon.svg" class="icon" >

                            }
                            else
                            {
                                        <img src="~/src/images/LikeIcon.svg" class="icon" >
                            }

                            </button>
                            <span class="likeCount">@Model.PostLikes.Count
                                <div class="dropdownLike" style="right :75% ">

                                    @foreach (var like in Model.PostLikes.ToList())
                                    {
                                        <div class="member">
                                            <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                                            @if (like.User != null)
                                                {
                                                    <h5>@like.User.Name</h5>
                                                }
                                                else
                                                {
                                                    <h5>User not found.</h5>
                                                }

                                        </div>
                                    }
                                    
                                </div>
                            </span>
                        </div>
                        <div class="participant">
                                        <img src="@Url.Content("~/src/images/People_in_postcardIcon.svg")" class="icon"/>
                                        <div class="participantCount">
                                            <span class="joined">@Model.JoinActivities.Count </span>
                                            <span class="max"> / @Model.MaxPeople</span>
                                                <div class="dropdownParticipant" style="right:50%">
                                                    @foreach (var joinActivity in Model.JoinActivities)
                                                    {
                                                        <div class="member">
                                                            <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                                                            <h5>@joinActivity.User.Name</h5>
                                                        </div>
                                                    }                                        
                                                </div>
                                        </div>

                                    </div>
                                
                                <div class="join-btn" style="margin-left:1rem ;">
                                    @if (Model.JoinActivities.Any(l => l.UserId == (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int userId) ? userId : 0)))
                                {
                                                <button  data-postid="@Model.PostId" class="joined-button" >joined</button>
                                }
                                else
                                {
                                                 <button data-postid="@Model.PostId"  class="join-button" >join activity</button>
                                }
                                </div>
                                
                    </div>
                </div>  
            </div>
            <div class="slice"></div>
            <div class="container-comment">
                <h2>Comments (4)</h2>
                <div class="all-comment">
                    <div class="comment">
                        <img class="comment-img" src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                        <div class="comment-detail">
                            <div class="username">
                                <span>Oakoakoak</span>
                                <span class="time">15 minutes ago</span>
=======
                <div class="post-detail">
                    <div class="post-header" style="margin-left:0rem;width:60rem;">
                        <div class="date">
                            <h3 class="month">FEB</h3>
                            <h3 class="day">26</h3>
                            <h3 class="year">2024</h3>
                        </div>
                        <div class="topic">
                            <h1>เตะบอลกันครับพี่ๆ</h1>
                            <p>18:00 - 20:00, KMITL</p>
                        </div>
                        <div class="status-categories">
                            <div class="status-activity">
                                <p>Status :</p>
                                <p class="state"> Open</p>
                            </div>
                            <p style="position:absolute;right:0;top:1rem;">Categories : Sports, Football</p>
                        </div>
                    </div>
                    <p>เตะบอลวันอังคารที่ 27 ตอนเย็นที่สนามมอครับ ใครสนใจก็มาร่วมด้ายยย ค่าสนามชั่วโมงละ 1500 บาท เราเล่น 2 ชั่วโมงตกคนละ 200 บาทครับบ มีเพื่อนชวนเพื่อนมาได้โล้ดดด</p>
                    <img class="img-activity" src="https://cdn.britannica.com/51/190751-050-147B93F7/soccer-ball-goal.jpg"> 
                    <div class="post-bottom">
                        <div class="owner" style="margin:0;">
                            <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg"
                                alt="" class="owner-img">
                            <div class="name" style="font-size:20px;align-item:center;">
                                <span>Boom za</span>
                                <div class="time">
                                    <img src="~/src/images/globe.svg">
                                    <span style="padding-top:0.1rem">15 minutes ago</span>
                                </div>
                            </div>
                        </div>
                        <div class="action-ep">
                            <div class="likes">
                                <button class="like-button">
                                    <img src="@Url.Content("~/src/images/LikeIcon.svg")" class="icon" >
                                </button>
                                <span class="likeCount">2
                                    <div class="dropdownLike" style="right:75%">
                                            <div class="member">
                                                <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                                                    <h5>oakoakoak</h5>
                                            </div>
                                    </div>
                                </span>
                            </div>
                            <div class="participant">
                                <img src="@Url.Content("~/src/images/People_in_postcardIcon.svg")" class="icon"/>
                                <div class="participantCount">
                                    <span class="joined">2 </span>
                                    <span class="max"> / 10</span>
                                        <div class="dropdownParticipant" style="right:50%;">
                                                <div class="member">
                                                    <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                                                    <h5>oakoakoak</h5>
                                                </div>
                                        </div>
                                </div>
                            </div>
                            <button class="join-button" style="margin-left:1rem;">join activity</button>
                        </div>
                    </div>  
                </div>
                <div class="slice"></div>
                <div class="container-comment">
                    <h2>Comments (4)</h2>
                    <div class="all-comment">
                        <div class="comment">
                            <img class="comment-img" src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                            <div class="comment-detail">
                                <div class="username">
                                    <span>Oakoakoak</span>
                                    <span class="time">15 minutes ago</span>
                                </div>
                                <p style="margin:0;">แล้วเจอกันครับ</p>
                            </div>
                        </div>
                        <div class="comment">
                            <img class="comment-img" src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                            <div class="comment-detail">
                                <div class="username">
                                    <span>Oakoakoak</span>
                                    <span class="time">15 minutes ago</span>
                                </div>
                                <p style="margin:0;">แล้วเจอกันครับ</p>
>>>>>>> main
                            </div>
                        </div>
                        <div class="comment">
                            <img class="comment-img" src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                            <div class="comment-detail">
                                <div class="username">
                                    <span>Oakoakoak</span>
                                    <span class="time">15 minutes ago</span>
                                </div>
                                <p style="margin:0;">แล้วเจอกันครับ</p>
                            </div>
                        </div>
                        <div class="comment">
                            <img class="comment-img" src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                            <div class="comment-detail">
                                <div class="username">
                                    <span>Oakoakoak</span>
                                    <span class="time">15 minutes ago</span>
                                </div>
                                <p style="margin:0;">แล้วเจอกันครับ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slice"></div>
                <div class="add-comment">
                    <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg">
                    <div class="input">
                        <input type="text" placeholder="Add a comment" id="comment-input">
                        <img src="~/src/images/send.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup">
        <div id="applicationsClosed">
            <p>Are you sure to close <br>the application for this activity?</p>
            <button id="btnClosed" class="accept" onclick="">I'm sure!!!</button>
            <button id="btnCC" class="cancel">Cancel</button>
        </div>
        <div id="delete">
            <p>Are you sure to delete <br>this activity?</p>
            <button id="btnDelete" class="accept" onclick="">Delete post</button>
            <button id="btnCancle" class="cancel">Cancel</button>
        </div>
    </div>
<<<<<<< HEAD
    <div id="delete">
        <p>Are you sure to delete <br>this activity?</p>
        <button id="btnDelete" class="accept" onclick="">Delete post</button>
        <button id="btnCancle" class="cancel">Cancel</button>
    </div>
</div>
<div class="modalBg"></div>
 @section Scripts{
    <script>
=======
    <div class="modalBg"></div>
</body>
<script>
>>>>>>> main
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */

function dropdown() {
//   document.getElementById("myDropdown").classList.toggle("show");
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var dropdownBtn = document.getElementsByClassName("dropdownBtn");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        openDropdown.classList.toggle('show');
        dropdownBtn[i].classList.toggle('focus');
    }
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropdownBtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var dropdownBtn = document.getElementsByClassName("dropdownBtn");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    //   console.log(dropdowns[i])
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
        dropdownBtn[i].classList.remove('focus');
      }
    }
  }
}
</script>
<script src="~/lib/ApplicationClosed.js"></script>
<script src="~/lib/deletePost.js"></script>

<script>
                $(document).ready(function () {
                    $('.like-button').click(function () {
                        event.preventDefault();
                        var button = $(this); // The clicked button
                        var postId = button.data('postid'); // Retrieve the post ID from the button's data attribute
                        $.ajax({
                            url: '@Url.Action("LikePost", "PostLike")', // The URL to the LikePost action
                            type: 'POST',
                            data: { postId: postId }, // Send the post ID as data
                            success: function (result) {
                                
                                console.log(result)
                                button.find('img').attr('src', result.liked ? '@Url.Content("~/src/images/LikedIcon.svg")' : '@Url.Content("~/src/images/LikeIcon.svg")');
                                button.siblings('span').text(result.likeCount);
                                console.log("Post liked successfully");
                            },
                            error: function (xhr, status, error) {
                                // Handle errors
                                console.log("Error liking post: " + error);
                            }
                        });
                    });


                    $('.join-button').click(function (event) {
                        event.preventDefault();
                        var button = $(this); // The clicked button
                        var postId = button.data('postid'); // Retrieve the post ID from the button's data attribute
                        $.ajax({
                            url: '@Url.Action("JoinActivity", "JoinActivity")', // The URL to the JoinPost action
                            type: 'POST',
                            data: { postId: postId }, // Send the post ID as data
                            success: function (result) {

                                if (result.success){
                                if (result.joined ) {
                                    button.text('joined');
                                    button.removeClass('join-button');
                                    button.addClass('joined-button');
                                    console.log("Post joined successfully");

                                }
                                else {
                                    button.text('join activity');
                                    button.removeClass('joined-button');
                                    button.addClass('join-button');
                                    console.log("Post unjoined successfully");
                                }
                                button.parent().find('.joined').text(result.joinActivitiesCount);

                                }
                                console.log(result);
                            },
                            error: function (xhr, status, error) {
                                // Handle errors
                                console.log("Error joining post: " + error);
                            }
                        });
                    });

                    $('.joined-button').click(function () {
                        event.preventDefault();
                        var button = $(this); // The clicked button
                        var postId = button.data('postid'); // Retrieve the post ID from the button's data attribute
                        $.ajax({
                            url: '@Url.Action("JoinActivity", "JoinActivity")', // The URL to the JoinPost action
                            type: 'POST',
                            data: { postId: postId }, // Send the post ID as data
                            success: function (result) {
                                 if (result.success){
                                if (result.joined ) {
                                    button.text('joined');
                                    button.removeClass('join-button');
                                    button.addClass('joined-button');
                                    console.log("Post joined successfully");

                                }
                                else {
                                    button.text('join activity');
                                    button.removeClass('joined-button');
                                    button.addClass('join-button');
                                    console.log("Post unjoined successfully");
                                }
                                button.parent().find('.joined').text(result.joinActivitiesCount);

                                }
                                console.log(result);
                            },
                            error: function (xhr, status, error) {
                                // Handle errors
                                console.log("Error joining post: " + error);
                            }
                        });
                    });

                });


            </script>
 }
